img {
	max-width: 100%;
	height: auto;
}
.list {
	list-style: none;
	position: relative;
	max-height: 400px;
	overflow: hidden;
	padding: 10px 0 0;
}

/* .list .item{
	display: none;
}

.list .item.active {
	display: block;
} */

.button-next {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 600;
	background: #00c300;
	border: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
}
.button-next:hover{
	background: red;
}

.form-add-image {
	display: inline-block;
}